# install latest changes in dbt-tests-adapter
git+https://github.com/dbt-labs/dbt-adapters.git#subdirectory=dbt-tests-adapter

twine
bump2version
wheel
pytest~=7.0
tox~=3.2
pylava~=0.3.0
teradatasql>=20.00.00.10
dbt-adapters>=1.17.2
dbt-common>=1.13,<2.0
MarkupSafe==2.0.1
pytest-dotenv
pytest-cov
-e .
