name: Security Scans

on:
  workflow_dispatch:

jobs:
  security-scans:
    if: github.repository == 'DeveloperTools/dbt-teradata'
    runs-on: [self-hosted]
    defaults:
      run:
        shell: bash
    name: Security Scans
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Clone dbt Teradata Adapter
        run: |
          rm -rf /dbt
          mkdir /dbt
          cd /dbt; git clone https://${{ secrets.GH_TOKEN }}@github.td.teradata.com/DeveloperTools/dbt-teradata.git
      - name: Build dbt teradata package
        run: |
          cd /dbt/dbt-teradata; rm -fr dist/*; python3 setup.py sdist bdist_wheel
      - name: Coverity - Configure
        run: |
          rm -rf dbt_scan
          mkdir  dbt_scan
          export PATH=$PATH:/coverity/bin
          cov-configure --python
      - name: Coverity - Capture
        run: |
          export PATH=$PATH:/coverity/bin
          cov-capture --project-dir /dbt/dbt-teradata --dir /dbt_scan --language python
      - name: Coverity - Analyze
        run: |
          export PATH=$PATH:/coverity/bin
          coverity analyze --dir /dbt_scan
      - name: Coverity - Commit Defects
        run: |
          export PATH=$PATH:/coverity/bin
          echo ${{ secrets.COVERITY_TOKEN }} > /tmp/coverity-token.txt
          chmod 600 /tmp/coverity-token.txt
          cov-commit-defects \
            --url 'https://coverity.td.teradata.com:8443' \
            --dir /dbt_scan \
            --stream "dbt_stream_test" \
            --auth-key-file /tmp/coverity-token.txt
        env:
          COVERITY_TOKEN: ${{ secrets.COVERITY_TOKEN }}

      - name: BlackDuck Configure
        run: |
          rm -rf /bd_scan
          mkdir  /bd_scan
          cd /bd_scan
          python3 -m venv env

      - name: Run BlackDuck Scan
        run: |
          cd /bd_scan
          . ./env/bin/activate
          pip3 install /dbt/dbt-teradata/dist/*.gz
          pip3 freeze > requirements.txt
          bash <(curl -s -L https://detect.synopsys.com/detect7.sh) \
          --blackduck.url=https://bdhub.td.teradata.com \
          --blackduck.always.trust.cert=true \
          --blackduck.api.token=${{ secrets.BLACKDUCK_TOKEN }} \
          --detect.project.name=JUPYTERUX_dbt \
          --detect.project.version.name=development \
          --detect.code.location.name=JUPYTERUX_dbt-development \
          --detect.bom.aggregate.name=JUPYTERUX_dbt-develop \
          --detect.cleanup=false \
          --detect.output.path=/dbt \
          --blackduck.timeout=1500 \
          --detect.pip.only.project.tree=true \
          --detect.pip.project.version.name=1.0.0a0 \
          --detect.pip.project.name=dbt-teradata \
          --detect.source.path=env/lib/python3.10/site-packages/dbt_teradata-1.0.0a0.egg-info \
          --detect.pip.requirements.path=requirements.txt
