name: Snyk Scan

on:
  workflow_dispatch:
  schedule:
     - cron:  '45 7 * * 5'

jobs:
  security:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        run: |
          virtualenv test_env
          source test_env/bin/activate
          pip install -r requirements_dev.txt
          export SNYK_TOKEN=$SNYK_TOKEN
          ~/snyk code test
          ~/snyk test --file=requirements_dev.txt --command=python3 --package-manager=pip
          rm -rf test_evn
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
