name: Snyk Scan

on:
  workflow_dispatch:
  schedule:
     - cron:  '45 7 * * 5'

jobs:
  snyk-scan:
    name: "Run Snyk scan on dbt-teradata"
    runs-on: "ubuntu-22.04"
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.11"]
    steps:
      - name: "Install Python"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: ./dev/breeze/setup*
      - name: "Install dbt-teradata"
        run: pip install -r requirements.txt
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@main
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
